@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.react-jinke-music-player-main ::-webkit-scrollbar {
  width: 20px !important;
}
.react-jinke-music-player-main ::-webkit-scrollbar-thumb {
  /* background-color: #3d10b8 !important; */
  height: 50px;
}
.react-jinke-music-player-mobile-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-jinke-music-player-mobile-operation > .items > .item {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .react-jinke-music-player-mobile-operation > .items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
} */
.add-to-home-screen-pwa__notify {
  display: flex !important;
  justify-content: space-around;
  align-items: center;
}
.add-to-home-screen-pwa__notify > .heading {
  margin-top: 0 !important;
}

.isActive {
  display: block !important;
}

.activeAyat {
  background: rgb(255, 215, 141);
}
.active {
  background: #b9a2d8;
}
